<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="../public/stylesheets/main.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>

    <script>
      var $ = require("jquery");
      $(".datepicker").datepicker();
    </script>
  </head>

  <body class="bg-default px-0">
    <div class="container-fluid p-0">
      <div class="col-md-12 p-0">
        <div class="card">
          <div class="card-header text-white">
            <h2>New Employee</h2>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  placeholder="First Name"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  placeholder="Last Name"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="minHoursPerWeek">Minimum Hours Per Week</label>
                <input
                  type="text"
                  class="form-control"
                  id="minHoursPerWeek"
                  name="minHoursPerWeek"
                  placeholder="Minimum Hours Per Week"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="maxHoursPerWeek">Maximum Hours Per Week</label>
                <input
                  type="text"
                  class="form-control"
                  id="maxHoursPerWeek"
                  name="maxHoursPerWeek"
                  placeholder="Maximum Hours Per Week"
                />
              </div>
            </div>

            <hr />

            <label for="primarySkills">Primary Skills</label>
            <div class="form-row">
              <div class="form-group col-md-10">
                <select
                  class="form-control"
                  id="primarySkills"
                  name="primarySkills"
                >
                  <option selected disable hidden value=""
                    >Select Primary Skills</option
                  >
                  <option value="Prescription Processing"
                    >Prescription Processing</option
                  >
                  <option value="Medication Counting"
                    >Medication Counting</option
                  >
                  <option value="Cashier">Cashier</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <button
                  class="btn btn-primary"
                  type="button"
                  onclick="addPrimarySkill()"
                >
                  Add Primary Skill
                </button>
              </div>
            </div>

            <label for="secondarySkills">Secondary Skills</label>
            <div class="form-row">
              <div class="form-group col-md-10">
                <select
                  class="form-control"
                  id="secondarySkills"
                  name="secondarySkills"
                >
                  <option selected disable hidden value=""
                    >Select Secondary Skills</option
                  >
                  <option value="Prescription Processing"
                    >Prescription Processing</option
                  >
                  <option value="Medication Counting"
                    >Medication Counting</option
                  >
                  <option value="Cashier">Cashier</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <button
                  class="btn btn-primary"
                  type="button"
                  onclick="addSecondarySkill()"
                >
                  Add Secondary Skill
                </button>
              </div>
            </div>

            <hr />

            <div class="input-group date">
              <input type="text" class="form-control" value="12-02-2012" />
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>

            <label for="daysUnavailable">Days Unavailable</label>
            <div class="form-row">
              <div class="form-group col-md-10">
                <select
                  class="form-control"
                  id="daysUnavailable"
                  name="daysUnavailable"
                >
                  <option selected disable hidden value=""
                    >Select Day of the Week</option
                  >
                  <option value="Prescription Processing"
                    >Prescription Processing</option
                  >
                  <option value="Medication Counting"
                    >Medication Counting</option
                  >
                  <option value="Cashier">Cashier</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <button
                  class="btn btn-primary"
                  type="button"
                  onclick="addSecondarySkill()"
                >
                  Add Secondary Skill
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
